# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store

# IDE/editor settings
.vscode/
.idea/

# Data storage and output files
backend/datastorage/
all_papers.json
arxiv.json

# Selenium/ChromeDriver logs (if any)
chromedriver.log

# Jupyter Notebook checkpoints (if you use notebooks)
.ipynb_checkpoints/

.env

index.py
pinecone_utils.py
scrape.py
app.py
backend/